// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


body {
  //background: ;
}


.input-default{
  background: yellow;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid green;
  outline: 0;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  color: #1638a0;
}

.btn-shuffle{
  border: 1px solid green;
  border-radius: 4px;
  width: 150px;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: 20px;
}
body{margin-left: 15px;}

.btn-shuffle:hover{
  background-color: #0b97c4;

}

.error{
  border-color: red;
}

.bingo{
  background-color: green;
}
#statistics{
  padding: 10px;
  width: 300px;
  height: 260px;
  color: white;
  background-color: #0b97c4;
  border-radius: 20px;
}
